.services{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.service{
    flex-basis: 31%;
    position: relative;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(30, 30, 70, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    /* cursor: pointer; */
    opacity: 0;
    padding-bottom: 50%;
    transition: 0.5s;
}
.caption img{
    width: 60px;
    margin-bottom: 10px;
}
.service:hover .caption{
    opacity: 1;
    padding-bottom: 0;
}